<a href="https://colab.research.google.com/github/RukeshJala/DATA_ANALYST_PROJECTS/blob/main/project_movies_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/movies_metadata.csv", engine="python", on_bad_lines='skip')

In [ ]:
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26604,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,48645,tt0042829,en,Pagan Love Song,Island girl Mimi (Esther Williams) plans to le...,...,1950-12-26,0.0,76.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,SOUTH SEAS TECHNICOLOR MUSICAL!,Pagan Love Song,False,6.0,1.0
26605,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,47993,tt0129119,en,The Golden Age of Comedy,A compilation featuring comedic stars of the s...,...,1957-12-26,0.0,79.0,[],Released,Any age is the golden age for...,The Golden Age of Comedy,False,8.0,1.0
26606,False,NaN,0,"[{'id': 10752, 'name': 'War'}, {'id': 18, 'nam...",NaN,156141,tt0174240,ru,Сталинград,The WWII pivotal battle of Stalingrad is shown...,...,1989-01-01,0.0,196.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Stalingrad,False,4.0,2.0
26607,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}, {'id': 107...",http://thetsunamiandthecherryblossom.com/,84346,tt2028578,en,The Tsunami and the Cherry Blossom,"On 11 March 2011, an earthquake caused a tsuna...",...,2011-09-12,0.0,39.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,The Tsunami and the Cherry Blossom,False,5.0,1.0
26608,False,NaN,0,"[{'id': 28, 'name': 'Action'}]",NaN,252096,tt0093290,fi,Jäähyväiset presidentille,Asko Mertanen is a waiter who is very interest...,...,1987-01-16,0.0,87.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,NaN,"Goodbye, Mr. President",False,0.0,0.0

In [ ]:
df.shape

(26609, 24)

In [ ]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

#Adult

In [ ]:
df.isna().sum()

adult                        0
belongs_to_collection    23540
budget                       0
genres                       0
homepage                 22211
id                           0
imdb_id                     12
original_language            3
original_title               0
overview                   258
popularity                   2
poster_path                143
production_companies         1
production_countries         1
release_date                29
revenue                      2
runtime                     59
spoken_languages             2
status                      36
tagline                  12038
title                        2
video                        2
vote_average                 2
vote_count                   2
dtype: int64

In [ ]:
df=df.dropna(subset="adult")
df.isna().sum()

adult                        0
belongs_to_collection    23540
budget                       0
genres                       0
homepage                 22211
id                           0
imdb_id                     12
original_language            3
original_title               0
overview                   258
popularity                   2
poster_path                143
production_companies         1
production_countries         1
release_date                29
revenue                      2
runtime                     59
spoken_languages             2
status                      36
tagline                  12038
title                        2
video                        2
vote_average                 2
vote_count                   2
dtype: int64

In [ ]:
df[df.duplicated()]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
1465,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,105045,tt0111613,de,Das Versprechen,"East-Berlin, 1961, shortly after the erection ...",...,1995-02-16,0.0,115.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,"A love, a hope, a wall.",The Promise,False,5.0,1.0
9165,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,5511,tt0062229,fr,Le Samouraï,Hitman Jef Costello is a perfectionist who alw...,...,1967-10-25,39481.0,105.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,There is no solitude greater than that of the ...,Le Samouraï,False,7.9,187.0
9327,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",NaN,23305,tt0295682,en,The Warrior,"In feudal India, a warrior (Khan) who renounce...",...,2001-09-23,0.0,86.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,The Warrior,False,6.3,15.0
13375,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,2008-12-26,0.0,108.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0
16764,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,2008-12-26,0.0,108.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0
21165,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,119916,tt0080000,en,The Tempest,"Prospero, the true Duke of Milan is now living...",...,1980-02-27,0.0,123.0,[],Released,NaN,The Tempest,False,0.0,0.0
21854,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",NaN,152795,tt1821641,en,The Congress,More than two decades after catapulting to sta...,...,2013-05-16,455815.0,122.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Congress,False,6.4,165.0
22151,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...",http://www.daysofdarknessthemovie.com/,18440,tt0499456,en,Days of Darkness,When a comet strikes Earth and kicks up a clou...,...,2007-01-01,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Days of Darkness,False,5.0,5.0
23044,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,25541,tt1327820,da,Broderskab,Former Danish servicemen Lars and Jimmy are th...,...,2009-10-21,0.0,90.0,"[{'iso_639_1': 'da', 'name': 'Dansk'}]",Released,NaN,Brotherhood,False,7.1,21.0
24844,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://www.dealthemovie.com/,11115,tt0446676,en,Deal,As an ex-gambler teaches a hot-shot college ki...,...,2008-01-29,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Deal,False,5.2,22.0

In [ ]:
df=df.drop_duplicates()

In [ ]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [ ]:
df["adult"]

0        False
1        False
2        False
3        False
4        False
         ...
26604    False
26605    False
26606    False
26607    False
26608    False
Name: adult, Length: 26599, dtype: object

In [ ]:
df["adult"].value_counts()

adult
False                  26597
True                       1
 - Written by Ørnås        1
Name: count, dtype: int64

In [ ]:
# df=df.loc[df["adult"].isin(["True","False"])]

In [ ]:
# df["adult"]=df["adult"].map({"True":True,"False":False})

In [ ]:
df["adult"].dtype

dtype('O')

#Belongs_to_collection

In [ ]:
df.belongs_to_collection.values[1]

nan

In [ ]:

df.belongs_to_collection.values[0]

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

if the values is not nan then convert string->dictionary and get name value else if value is na,append0 to my ids

In [ ]:
import ast
ast.literal_eval(df.belongs_to_collection.values[0])['name']

'Toy Story Collection'

In [ ]:
import ast
import numpy as np

kousik = []
for i in df['belongs_to_collection'].values:
  if i == i:

    kousik.append(ast.literal_eval(i)['name'])
  else:

    kousik.append("no collecetion")

df['collectionName'] = kousik
df = df.drop(columns = ['belongs_to_collection'])

TypeError: 'float' object is not subscriptable

In [ ]:
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26604,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,48645,tt0042829,en,Pagan Love Song,Island girl Mimi (Esther Williams) plans to le...,...,1950-12-26,0.0,76.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,SOUTH SEAS TECHNICOLOR MUSICAL!,Pagan Love Song,False,6.0,1.0
26605,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,47993,tt0129119,en,The Golden Age of Comedy,A compilation featuring comedic stars of the s...,...,1957-12-26,0.0,79.0,[],Released,Any age is the golden age for...,The Golden Age of Comedy,False,8.0,1.0
26606,False,NaN,0,"[{'id': 10752, 'name': 'War'}, {'id': 18, 'nam...",NaN,156141,tt0174240,ru,Сталинград,The WWII pivotal battle of Stalingrad is shown...,...,1989-01-01,0.0,196.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Stalingrad,False,4.0,2.0
26607,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}, {'id': 107...",http://thetsunamiandthecherryblossom.com/,84346,tt2028578,en,The Tsunami and the Cherry Blossom,"On 11 March 2011, an earthquake caused a tsuna...",...,2011-09-12,0.0,39.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,The Tsunami and the Cherry Blossom,False,5.0,1.0
26608,False,NaN,0,"[{'id': 28, 'name': 'Action'}]",NaN,252096,tt0093290,fi,Jäähyväiset presidentille,Asko Mertanen is a waiter who is very interest...,...,1987-01-16,0.0,87.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,NaN,"Goodbye, Mr. President",False,0.0,0.0

In [ ]:
df.isna().sum()

adult                        0
belongs_to_collection    23530
budget                       0
genres                       0
homepage                 22203
id                           0
imdb_id                     12
original_language            3
original_title               0
overview                   258
popularity                   2
poster_path                143
production_companies         1
production_countries         1
release_date                29
revenue                      2
runtime                     59
spoken_languages             2
status                      36
tagline                  12032
title                        2
video                        2
vote_average                 2
vote_count                   2
dtype: int64

In [ ]:
df[df.duplicated()]

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

[0 rows x 24 columns]

In [ ]:
df=df.drop_duplicates()

In [ ]:
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26604,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,48645,tt0042829,en,Pagan Love Song,Island girl Mimi (Esther Williams) plans to le...,...,1950-12-26,0.0,76.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,SOUTH SEAS TECHNICOLOR MUSICAL!,Pagan Love Song,False,6.0,1.0
26605,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,47993,tt0129119,en,The Golden Age of Comedy,A compilation featuring comedic stars of the s...,...,1957-12-26,0.0,79.0,[],Released,Any age is the golden age for...,The Golden Age of Comedy,False,8.0,1.0
26606,False,NaN,0,"[{'id': 10752, 'name': 'War'}, {'id': 18, 'nam...",NaN,156141,tt0174240,ru,Сталинград,The WWII pivotal battle of Stalingrad is shown...,...,1989-01-01,0.0,196.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Stalingrad,False,4.0,2.0
26607,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}, {'id': 107...",http://thetsunamiandthecherryblossom.com/,84346,tt2028578,en,The Tsunami and the Cherry Blossom,"On 11 March 2011, an earthquake caused a tsuna...",...,2011-09-12,0.0,39.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,The Tsunami and the Cherry Blossom,False,5.0,1.0
26608,False,NaN,0,"[{'id': 28, 'name': 'Action'}]",NaN,252096,tt0093290,fi,Jäähyväiset presidentille,Asko Mertanen is a waiter who is very interest...,...,1987-01-16,0.0,87.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,NaN,"Goodbye, Mr. President",False,0.0,0.0

In [ ]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [ ]:
#df["belongs_to_collection"].value_counts()

#Budget

In [ ]:
df["budget"][0]

'30000000'

In [ ]:
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26604,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,48645,tt0042829,en,Pagan Love Song,Island girl Mimi (Esther Williams) plans to le...,...,1950-12-26,0.0,76.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,SOUTH SEAS TECHNICOLOR MUSICAL!,Pagan Love Song,False,6.0,1.0
26605,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,47993,tt0129119,en,The Golden Age of Comedy,A compilation featuring comedic stars of the s...,...,1957-12-26,0.0,79.0,[],Released,Any age is the golden age for...,The Golden Age of Comedy,False,8.0,1.0
26606,False,NaN,0,"[{'id': 10752, 'name': 'War'}, {'id': 18, 'nam...",NaN,156141,tt0174240,ru,Сталинград,The WWII pivotal battle of Stalingrad is shown...,...,1989-01-01,0.0,196.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Stalingrad,False,4.0,2.0
26607,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}, {'id': 107...",http://thetsunamiandthecherryblossom.com/,84346,tt2028578,en,The Tsunami and the Cherry Blossom,"On 11 March 2011, an earthquake caused a tsuna...",...,2011-09-12,0.0,39.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,The Tsunami and the Cherry Blossom,False,5.0,1.0
26608,False,NaN,0,"[{'id': 28, 'name': 'Action'}]",NaN,252096,tt0093290,fi,Jäähyväiset presidentille,Asko Mertanen is a waiter who is very interest...,...,1987-01-16,0.0,87.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,NaN,"Goodbye, Mr. President",False,0.0,0.0

In [ ]:
df.budget = df.budget.astype('int64')
df.budget.describe()

In [ ]:
sum(df.budget == 0)

In [ ]:
sum(df.budget == 0)*100/df.shape[0]

In [ ]:
df

In [ ]:
df.isna().sum()

In [ ]:
df["budget"]

#Genres

In [ ]:
df.genres

In [ ]:
df.genres.unique()

In [ ]:
ast.literal_eval(df.genres.values[0])

In [ ]:
uniqueGenres = set()

In [ ]:
uniqueGenres

In [ ]:
len(uniqueGenres)

In [ ]:
moviegenres = ["action","adventure"]
uniqueGenres = ["action","adventure","family","horror"]

row = []
for j in uniqueGenres:
  row.append(int(j in moviegenres))

  row

In [ ]:
# Assuming uniqueGenres from the previous cell is the list of genres you want as columns
genres = uniqueGenres
genre = pd.DataFrame([row], columns = genres)
genre

In [ ]:
genre.shape

In [ ]:
df

In [ ]:
# df = pd.concat([df,genre], axis = 1) # Joining the two Dataframes
# df.shape, genre.shape

In [ ]:
# df = df.drop(columns = ['genres'])

In [ ]:
# df

#Homepage

In [ ]:
df.homepage

In [ ]:
~df.homepage.isnull()

In [ ]:
df.homepage.isnull().sum()*100/df.shape[0]

In [ ]:
df['homepagepresent'] = (~df.homepage.isnull())

In [ ]:
df = df.drop(columns = ['homepage'])